<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head::head('Product details')}">
</head>
<body>
<nav th:insert="~{fragments/navbar::navbar}"></nav>
</body>
<br>
    <div class="container" th:object="${product}">
        <div class="card mb-3">
            <div th:if="*{imagePath}">
                <img th:src="@{/productImages/{id}/{fileName}(id=*{id}, fileName=*{imagePath})}" class="card-img-top" th:alt="*{productName}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="*{productName}"></h5>
                <p class="card-text" th:text="*{description}"></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="*{category}"></li>
                    <li class="list-group-item" th:text="|&euro; *{price}|"></li>
                </ul>
            </div>
        </div>
    </div>
</html>