<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head::head}">
</head>
<body>


<br>
<div class="container">
    <div th:if="${param.error}">
        <div class="alert alert-warning" role="alert">
            Invalid username and password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success" role="alert">
            You have been logged out.
        </div>
    </div>

    <form th:action="@{/login}" method="post">

        <legend>Please Log In</legend>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" value="Log in" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>