<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head::head}">
</head>
<body>

<br>

<div class="container">
    <form method="post" th:action="@{/register}" th:object="${registeredUser}">
        <legend>Create an account</legend>

        <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <label for="userEmail" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" th:field="*{email}">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="UserFirstname" class="form-label">Firstname</label>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstname')}" th:errorclass="error" th:errors="*{firstname}">
                A simple danger alert—check it out!
            </div>

            <input type="text" class="form-control" id="UserFirstname" th:field="*{firstname}">
        </div>

        <div class="mb-3">
            <label for="UserLastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="UserLastname" th:field="*{lastname}">
        </div>

        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" id="Username" th:field="*{username}">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>

        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
</div>
</body>
</html>